# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# Django migrations
**/migrations/
!**/migrations/__init__.py

# Environment variables
.env
.env.*

# VSCode
.vscode/

# PyCharm
.idea/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Celery beat schedule files
celerybeat-schedule

# mypy
.mypy_cache/

# pytest
.cache/
.pytest_cache/

# Docker files
*.log
docker-compose.override.yml
